.imageclass{

    width: 80px;
    border-radius: 8%;
    margin-right: 20px;
}

.eachItem{
    font-size: 18px;
    display: flex;
    margin: 10px 0;
   
    padding-bottom: 10px; 

}
.imgnTitle{
    display: flex;
    width:120px ;
    height: 80px;
    padding-bottom: 9px;
}
.eachItem span{
    border-bottom: 2px solid #3d3333;
}
.imgnTitle+span{
    width:120px ;
    height: 80px;
    margin-left: 30px;
    padding-bottom: 5px;
}

/* .imgnTitle+span+span{
    width:90px ;
    height: 80px;
    margin-left: 30px;
} */

.removebtn{
    color: white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border: none;
    border-radius: 8%;
    height: 30px;
    outline: none;
    padding: 0px 7px;
}

.quantitynremove{
    display: flex;
   
    height: 80px;
    padding-bottom: 9px;
    width:100px ;
    
    margin-left: 30px;
}