.homeContainer{
    height: 250px;
    width: auto;
    background-color:#777;

}

.albumHeading{
border: 2px solid #56CCF2 ;
width: fit-content;
padding: 15px;
font-size: 30px;
margin: 0 auto;
}

.playbutton{
    width: 70px;
    height: 80px;
    background-color:#ffffff ;
    border: 2px solid #56CCF2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:#777

}
.playbuttontriangle {
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 25px solid #56CCF2;
    border-right: -3px solid transparent;  
   
  
}

.playbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
   
}