.productContainer h2 {
    text-align: center;
    margin-top: 50px;
    font-family: "Metal Mania";
    font-weight: bolder;

    
  }
  
  .productContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .productRow {
    justify-content: space-between; /* Keeps the same space between items in each row */
    
  }
  
  .productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  